<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.intouchsmsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:name=".CheckConnection.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/intouchsmslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/intouchsmslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginSignUpTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SendSms"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Transactions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CustomerTopUpForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyCreditTransfers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CreditTransferForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyCustomers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AgentOrResellerTopUpForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PublishedPackages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MessageLogSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MessageLogDetails"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".CheckConnection.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.AddMyClient"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.EditMyCustomer"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.GetMyClients"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ExcelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.MessageScheduler"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>